version: "3.9"

services:
  backend:
    build: .
    container_name: fastapi_app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql+asyncpg://backend_user:lasthero@db:5432/backendit
      REDIS_URL: redis://redis:6379/0

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: backend_user
      POSTGRES_PASSWORD: lasthero
      POSTGRES_DB: backendit
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_server
    ports:
      - "6379:6379"

volumes:
  postgres_data:
